<style type="text/css" media="screen">
    #editor {
        width: 600px;
        height: 400px;
    }
</style>

<h2><%= @article.title %></h2>
<br>
<p><strong>Content:</strong></p>
<br>

<div id="editor"></div>

<p>Created at <%= @article.created_at %></p>

<%= link_to "Home", articles_path %>
<script>
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
  editor.setValue('<%= @article.content %>');
</script>

